<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakariawahyu.submissionexpert">



    <permission android:name="com.zakariawahyu.submissionexpert.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.zakariawahyu.submissionexpert.WRITE_DATABASE" android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReminderSetting"
            android:label="@string/user_preference"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".search.Search" />

        <receiver android:name=".widget.WidgetFavorit">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favorit_info" />
        </receiver>

        <activity
            android:name=".SettingLanguage"
            android:label="@string/setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tvshows.TvShowsDetail"
            android:label="@string/detailTvShows"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".film.DetailFilm"
            android:label="@string/detailFilm"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".data.DataProvider"
            android:authorities="com.zakariawahyu.submissionexpert"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.zakariawahyu.submissionexpert.READ_DATABASE"
            android:writePermission="com.zakariawahyu.submissionexpert.WRITE_DATABASE" />
    </application>

</manifest>